@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    /*
        The color scheme for this project was inspired here: https://www.nordtheme.com/
    */

    /* Polar night */
    --nord0: #2e3440;  
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    
    /* Snow Storm (lighter) */
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    
    /* Frost */
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    
    /* Aurora */
    --nord11: #bf616a;  
    --nord12: #d08770;  
    --nord13: #ebcb8b;  
    --nord14: #a3be8c;  
    --nord15: #b48ead;  

    --color-background: var(--nord4);  
    --color-cards: var(--nord6);
    --color-text: var(--nord0);        
    --color-borders: var(--nord3);     
    --color-title-bg: var(--nord5);    
    --phi: 1.618vw;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'Quicksand', serif  !important; 
}

.container-fluid{
    max-width: 900px;
    margin: auto;
}

h1,h2,h3,h4{
    text-align: center;
}

h2,h3{
    font-weight: bold;
}

a{
    color: var(--nord10);
    word-break: break-all;
    overflow-wrap: break-word;
}


a:hover{ 
    opacity: 0.55;
}


.bslib-value-box .value-box-area{
    padding: 0;
    text-align: center;
}

.bslib-value-box p{
    font-size: 0.92rem;
    font-weight: 525;
}

.form-select{
    background-color: var(--nord6);
}

.form-select:hover{
    opacity: 0.75;
}


.info-panel{
    margin-top: 8vh;
    margin-bottom: 8rem;
    padding: 0.95rem 2rem;
    border: 0.9px solid var(--nord3);
    border-radius: 8px;
}

.info-panel h1{
    font-weight: bold;
    color: var(--nord2);
}


hr{
  border: dashed var(--nord3) 2.2px;
}


.square-information {
    position: relative;
    display: block;
    border: 2.75px solid  var(--color-borders);
    border-radius: 8px;
    margin-top: 5vw;
    margin-bottom: 10vw; 
    padding: 4rem 2vw 2rem; 
    background-color: var(--color-background);
}

.square-title {
    --title-width: 60%; 
    position: absolute;
    background-color: var(--color-title-bg);
    border: 2px solid var(--color-borders);
    border-radius: 6px;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    padding: 1rem 2rem;
    z-index: 1;
    width: var(--title-width);
    margin: 0 auto;
    box-shadow: 
        0 0 0 10px var(--color-background),
        0 2px 4px var(--nord3); 
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-text); 
}

.square-title h3 {
    margin: 0;
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.4;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.card-plot{
    padding: 0 1rem ;
    background-color: var(--color-cards);
}


.text-about{
    color: var(--nord10);
    font-style: italic;
}


.fa {
  padding: 1px;
  font-size: 13px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 1px 3px;
}

.fa-linkedin {
  background: var(--nord10);
  color: var(--nord6);
}

.fa-google{
    background: var(--nord5);
    color: var(--nord10);
}

.fa-github{
    background: var(--nord4);
    color: var(--nord3);    
}

ul li::marker{
    content: '>>  ';
    color: var(--nord3);
}

footer{
    font-size: small;
    opacity: 0.9;
}


@media (max-width: 768px) {
    .square-information {
        margin: 5.2rem 4vw 15vh; 
        padding: 5rem 4vw 2rem; 
    }
}

@media (max-width: 480px) {
    .square-information {
        margin: 6.2rem 3vw 10vh; 
        padding: 6rem 3vw 2rem;
    }

    .square-title {
        --title-width: 80%; 
        padding: 0.7rem 1rem;
    }

    .square-title h3 {
       font-size: 1.12rem;
    }

    .card-plot{
        padding: auto;
    }
}




